<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Movie Archive</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
          <ion-item>
              <ion-label position="floating">Actor</ion-label>
              <ion-input autocapitalize inputmode="text" formControlName="actor"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.actor">
              <ng-container *ngIf="actor.hasError(error.type) && (actor.dirty || actor.touched)">
                  <small class="error-message">{{error.message}}</small>
              </ng-container>
          </div>
          <ion-item>
              <ion-label position="floating">Director</ion-label>
              <ion-input inputmode="tel" formControlName="director"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.director">
              <ng-container *ngIf="director.hasError(error.type) && (director.dirty || director.touched)">
                  <small class="error-message">{{error.message}}</small>
              </ng-container>
          </div>
          <ion-item>
              <ion-label position="floating">Genre</ion-label>
              <ion-input inputmode="email" formControlName="genre"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.genre">
              <ng-container *ngIf="genre.hasError(error.type) && (genre.dirty || genre.touched)">
                  <small class="error-message">{{error.message}}</small>
              </ng-container>
          </div>
          <ion-item>
              <ion-label position="floating">Year</ion-label>
              <ion-input inputmode="year" formControlName="year"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.year">
              <ng-container *ngIf="year.hasError(error.type) && (year.dirty || year.touched)">
                  <small class="error-message">{{error.message}}</small>
              </ng-container>
          </div>
      </ion-list>
      
      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">
          Submit <ion-icon slot="end"
                           name="create">
          </ion-icon>
      </ion-button>
  </form>
</ion-content>
