<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title>Movie Archive</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
        <form [formGroup]="registrationForm" (ngSubmit)="submit()">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Actor</ion-label>
                    <ion-input autocapitalize inputmode="text" formControlName="actor"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.actor">
                    <ng-container *ngIf="actor.hasError(error.type) && (actor.dirty || actor.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Director</ion-label>
                    <ion-input inputmode="text" formControlName="director"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.director">
                    <ng-container *ngIf="director.hasError(error.type) && (director.dirty || director.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Genre</ion-label>
                    <ion-input inputmode="text" formControlName="genre"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.genre">
                    <ng-container *ngIf="genre.hasError(error.type) && (genre.dirty || genre.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Year</ion-label>
                    <ion-input inputmode="text" formControlName="year"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.year">
                    <ng-container *ngIf="year.hasError(error.type) && (year.dirty || year.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-list>

            <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">
                Submit <ion-icon slot="end"
                                 name="create">
                </ion-icon>
            </ion-button>
        </form>
    </div>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="list">
                    <ion-icon name="list"></ion-icon>
                    <ion-label>List</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="support">
                    <ion-icon name="help-circle"></ion-icon>
                    <ion-label>Support</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="contact">
                    <ion-icon name="happy"></ion-icon>
                    <ion-label>Contact</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
</ion-content>
