<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Conact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Phone Number</ion-card-title>
            <ion-card-subtitle>Calling hours between 9:00 AM EST to 9:00 PM EST.</ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>
            1-800-123-4567
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Email</ion-card-title>
            <ion-card-subtitle>Emails while reseaved during buiness hours will be responded to within 24 hours.</ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>
            MovieArchive@gmail.com
        </ion-card-content>
    </ion-card>

</ion-content>