<ion-header>
  <ion-toolbar>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item>
            <ion-label>Fequently Q&A</ion-label>
        </ion-item>
        <ion-list>
            <ion-item>
                <div>
                    <ion-label>Why was this created?</ion-label>
                    <small>This was created for a final project at a university.</small>
                </div>
            </ion-item>
            <br>
            <ion-item>
                <div>
                    <ion-label>Is this free?</ion-label>
                    <small>Yes but if this app was to launch, then the app will have the option for users to donate.</small>
                </div>
            </ion-item>
            <br>
            <ion-item>
                <div>
                    <ion-label>How does it work?</ion-label>
                    <small>You can input in an actor's name, director's name, genre, and/or a year, and a list of movies, based on those perameters, will show.</small>
                </div>
            </ion-item>
        </ion-list>
</ion-content>
